ASSIGNMENT-1

1.. L is a list defined as L= [11, 12, 13, 14].

1.a (i)	WAP to add 50 and 60 to L.

In [ ]:
L=[11,12,13,14]
print("ORIGINAL LIST--->",L)
L.append(50)
L.append(60)
print("list after adding elements  --->",L )

ORIGINAL LIST---> [11, 12, 13, 14]
list after adding elements  ---> [11, 12, 13, 14, 50, 60]

1.b	WAP to remove 11 and 13from L.

In [ ]:
L=[11,12,13,14]
print("ORIGINAL LIST--->",L)
L.remove(11)
L.remove(13)
print("list after deleting elements  --->",L )

ORIGINAL LIST---> [11, 12, 13, 14]
list after deleting elements  ---> [12, 14]

1.c ) WAP to sort L in ascending order.

In [ ]:
L=[11,12,13,14]
print("BEFORE SORTING   --->",L)
L.sort()
print("After sorting (ascending)  --->",L)

BEFORE SORTING   ---> [11, 12, 13, 14]
After sorting (ascending)  ---> [11, 12, 13, 14]

1.d (iv)	WAP to sort L in descending order.

In [ ]:
L=[11,12,13,14]
print("BEFORE SORTING   --->",L)
L.sort(reverse=True)
print("After sorting (descending)  --->",L)

BEFORE SORTING   ---> [11, 12, 13, 14]
After sorting (descending)  ---> [14, 13, 12, 11]

1.e (v)	WAP to search for 13 in L.

In [ ]:
L=[11,12,13,14]
print("ORIGINAL LIST--->",13 in L)
if (13 in L)==True:
  print("Present")
else:
  print("Not present")

ORIGINAL LIST---> True
Present

1.f(vi)	WAP to count the number of elements present in L.

In [ ]:
L=[11,12,13,14]
print("ORIGINAL LIST--->",L)
print("number of elements in L --->",len(L))

ORIGINAL LIST---> [11, 12, 13, 14]
number of elements in L ---> 4

1.g	WAP to sum all the elements in L.

In [ ]:
L=[11,12,13,14]
print("ORIGINAL LIST--->",L)
print("SUM  --->",sum(L))

ORIGINAL LIST---> [11, 12, 13, 14]
SUM  ---> 50

1.h WAP to sum all ODD numbers in L

In [ ]:
L=[11,12,13,14]
print("ORIGINAL LIST--->",L)
for x in L:
  if(x%2)==0:
     L.remove(x)
  else:
     print("odd number --->",x)
print("ODD NUMBERS ARE --->",L)
print("SUM OF ALL ODD NUMBERS --->",sum(L))

ORIGINAL LIST---> [11, 12, 13, 14]
odd number ---> 11
ODD NUMBERS ARE ---> [11, 13]
SUM OF ALL ODD NUMBERS ---> 24

1.i	WAP to sum all EVEN numbers in L.

In [ ]:
L=[11,12,13,14]
print("ORIGINAL LIST--->",L)

for x in L:
  if(x%2)==0:
    print("EVEN NUMBER --->",x)
  else:
    L.remove(x)
print("EVEN NUMBERS ARE --->",L)

print("SUM OF ALL EVEN NUMBERS --->",sum(L))

ORIGINAL LIST---> [11, 12, 13, 14]
EVEN NUMBERS ARE ---> [12, 14]
SUM OF ALL EVEN NUMBERS ---> 26

1.j	WAP to sum all PRIME numbers in L.

In [30]:
L=[11,12,13,14]
L1=[]
for value in L:
  for i in range(2,((value)//2)+1):
    if value<2:
      break
    elif value%i==0:
      break
    else:
      L1.append(value)
      break
print("PRIME NUMBERS ARE ---> ",L1)

print("Sum of prime numbers in list --->",sum(L1))

PRIME NUMBERS ARE --->  [11, 13]
Sum of prime numbers in list ---> 24

1.k WAP to clear all the elements in L.

In [32]:
L=[11,12,13,14]
print("ORIGINAL LIST--->",L)
L.clear()
print("AFTER CLEARING THE ELEMENTS --->",L)

ORIGINAL LIST---> [11, 12, 13, 14]
AFTER CLEARING THE ELEMENTS ---> []

1.j WAP to delete L.

In [35]:
L=[11,12,13,14]
print("ORIGINAL LIST--->",L)
del L
print("AFTER DELETING LIST",L)

ORIGINAL LIST---> [11, 12, 13, 14]

NameError: ignored